.nav {
  &.is-active {
    & .nav__item {
      opacity: 1;
    }
  }
  &__item {
    transition-property: transform, opacity;
    transition-duration: .3s;
    opacity: 0;
    font-size: 23px;
    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        transition-delay: .2s  + .075s * $i;
      }
    }
  }
}
