.nav {
  transition: transform .3s;
  overflow: hidden;
  &.is-active {
    & .nav__item {
      opacity: 1;
      transform: translateX(0) translateZ(0);
    }
  }
  &__item {
    transition-property: transform, opacity;
    transition-duration: .3s;
    opacity: 0;
    transform: translateX(350px) translateZ(-1000px);

    margin-bottom: 1rem;
    font-size: 23px;
    letter-spacing: .05em;
    color: #fff;
    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        transition-delay: .1s  + .075s * $i;
      }
    }
    @media (min-width: 960px) {
      font-size: 36px;
    }

  }
  &__link {
    @media (min-width: 960px) {
      position: relative;
      display: inline-block;
      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width .2s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
